<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whpu.mapper.TypeMapper">

 <resultMap id="resultMap" type="com.whpu.pojo.Type">
     <id column="typeid" property="typeid"/>
     <result column="typedesc" property="typedesc"/>
 </resultMap>
    <!--全查询-->
    <select id="selectAllType" resultMap="resultMap">
  select * from  h_type
    </select>
</mapper>